<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jen.easytest">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/_easy_app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/_easy_AppTheme">

        <activity android:name="easybase.LogCrashActivity" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.TabBarActivity" />
        <activity android:name=".activity.ShapeViewActivity" />
        <activity android:name=".http.HttpActivity" />
        <activity android:name=".activity.ImageLoaderActivity" />
        <activity android:name=".activity.DialogActivity" />
        <activity android:name=".activity.popupWindow.PopupWindowActivity" />
        <activity android:name=".activity.SQLiteActivity" />
        <activity android:name=".activity.UtilActivity" />
        <activity android:name=".activity.TimePickActivity" />
        <activity android:name=".activity.ImageViewPagerActivity" />
        <activity android:name=".activity.OnclickTestActivity" />
        <activity android:name=".activity.PickerViewActivity" />
        <activity android:name=".activity.BaseViewActivity" />
        <activity android:name=".logcatch.LogcatCrashActivity" />


        <activity android:name=".activity.recyclerView.RecyclerViewMainActivity" />
        <activity android:name=".activity.recyclerView.RecyclerHScrollActivity" />
        <activity android:name=".activity.recyclerView.RecyclerViewLetterActivity" />
        <activity android:name=".activity.recyclerView.RecyclerSlideDeleteActivity" />

    </application>

</manifest>